@model IEnumerable<Veterinaria.Models.Servicio>

@{
    ViewBag.Title = "listadoServicio";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Lista de Servicios</h2>

<p>
    @Html.ActionLink("Agregar Servicio", "registroServicio", "Servicio")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_SERV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMB_SERV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_SERV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_SERV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_HORAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECH_SERV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SERV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMB_SERV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_SERV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_SERV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_HORAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECH_SERV)
        </td>
        <td>
            @Html.ActionLink("Editar", "editarServicio", new {  id=item.ID_SERV  }) |
            @Html.ActionLink("Detalles", "detalleServicio", new { id = item.ID_SERV }) |
            @Html.ActionLink("Eliminar", "eliminarServicio", new {  id = item.ID_SERV  })
        </td>
    </tr>
}

</table>
