@model IEnumerable<Veterinaria.Models.Producto>

@{
    ViewBag.Title = "listadoProductoPag";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Elige el Producto que desees:</h2>


@foreach (var item in Model)
{

    <section class="lisProdu">

        <img class="listIma" src="@Url.Content(item.FOTO)" />

        <h5>Nombre: @item.NOMB_PROD</h5>
        <h5>Precio: S/.@item.PREC_PROD.ToString("0.00")</h5>
        <h5>Disponibles: @item.STOCK</h5>

        <br />
        @Html.ActionLink("ADQUIRIR", "registroPedido", new { id = @item.ID_PROD, P = item.PREC_PROD },
                               new { @class = "btn btn-default" })

    </section>
}


<div class="pag">
    <h6>
        @for (int i = 0; i < ViewBag.pag; i++)
        {
            @Html.ActionLink((i + 1).ToString(), "listadoProductoPag", new { p = i }, new { @class = "btn btn-success" })
        }
    </h6>
</div>
