<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiberMedia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container">
        <br />
        <div id="contenido">
            <div id="banner">
                <img class="imgbanner" src="~/Images/principal/CiberPets.png" alt="Logo" style="width:20%; height:54px; float:left; background-color:#1849AB" />
                <nav id="menuArriba">
                    <ul class="menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Inicio", "IndexUsuario", "Profile")</li>
                            <li>@Html.ActionLink("Productos", "listadoProductoPag", "TiendaProducto")</li>
                            <li>@Html.ActionLink("Servicios", "listadoServicioPag", "PedidoSer")</li>
                            <li>@Html.ActionLink("Salir", "Logout", "Home")</li>
                        }
                    </ul>
                </nav>
            </div>

            <br />

            <section>
                @RenderBody()
            </section>



            <footer>
                <img class="foot" src="~/Images/principal/jottlyfooterstyles.png" alt="Footer" />
            </footer> <br /> <br />
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>