<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container">
        <br />
        <div id="contenido">
            <div id="banner">
                <img class="imgbanner" src="~/Images/principal/cooltext381844845557281.png" alt="Logo" style="width:20%; height:54px; float:left; background-color:#1849AB" />
                <nav id="menuArriba">
                    <ul class="menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Inicio", "IndexUsuario", "Profile")</li>
                            <li>@Html.ActionLink("Productos", "ComprasVideojuegos", "Videojuego")</li>
                            <li>@Html.ActionLink("Servicios", "carritoCompras", "Tienda_pelicula")</li>
                            <li>@Html.ActionLink("Salir", "Logout", "Home")</li>
                        }
                    </ul>
                </nav>
            </div>

            <br />

            <!--****** Carrusel******* -->
            <div id="carrusel">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item imgCarrusel active">
                            <img src="~/Images/Carrusel/banner1-mascotas.jpg" alt="Mascota" style="width: 100%;">
                        </div>

                        <div class="item imgCarrusel">
                            <img src="~/Images/Carrusel/banner2-mascotas.jpg" alt="Perro" style="width: 100%;">
                        </div>

                        <div class="item imgCarrusel">
                            <img src="~/Images/Carrusel/banner3-mascotas.jpg" alt="Gato" style="width:100%;">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <section>
                @RenderBody()
            </section>

        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>