@model IEnumerable<Veterinaria.Models.Historial>

@{
    ViewBag.Title = "listadoHistorial";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Historiales Medicos</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_MASC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FEC_ATT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ASUNTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TRATAMIENTO)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_MASC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEC_ATT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ASUNTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRATAMIENTO)
                </td>
                <td>
                    <a class="fas fa-fw fa-wrench"> @Html.ActionLink("Edi.", "editarHistorial", new { id = item.ID_HIST }) </a> |
                    <a class="fas fa-fw fa-list"> @Html.ActionLink("Det.", "detalleHistorial", new { id = item.ID_HIST }) </a> |
                    <a class="fas fa-fw fa-trash">@Html.ActionLink("Eli.", "eliminarHistorial", new { id = item.ID_HIST }) </a>
                </td>
            </tr>
                }

        </table>
    </div>
</div>
