@model IEnumerable<Veterinaria.Models.Producto>

@{
    ViewBag.Title = "listadoProducto";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Lista de productos</h2>

<p>
    <button type="button" class="btn btn-light"> @Html.ActionLink("Agregar un Producto", "registroProducto", "Producto") </button>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_PROD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMB_PROD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PREC_PROD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STOCK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MARCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROV_PROD)
            </th>
            <th></th>
        </tr>
    <thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_PROD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMB_PROD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PREC_PROD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STOCK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROV_PROD)
                </td>
                <td>
                    @Html.ActionLink("Ed.", "editarProducto", new { id = item.ID_PROD },
                                                          new { @class = "glyphicon glyphicon-pencil" })|
                    @Html.ActionLink("Det.", "detalleProducto", new { id = item.ID_PROD },
                                                        new { @class = "glyphicon glyphicon-plus-sign" })|
                    @Html.ActionLink("Eli.", "eliminarProducto", new { id = item.ID_PROD },
                                                            new { @class = "glyphicon glyphicon-trash" })|
                </td>
            </tr>
        }

</table>
