@model Veterinaria.Models.Usuario

@{
    ViewBag.Title = "IndexUsuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>BIENVENIDO(A) @ViewBag.nombre</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_USU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMB_USU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMB_USU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DIST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DIST)
        </dd>

    </dl>

    @Html.ActionLink("Registra una Mascota", "registrarMascota", new { id = @Html.DisplayFor(model => model.ID_USU) },
                                                            new { @class = "glyphicon glyphicon-pencil" })) |

    @Html.ActionLink("Edita tu Informacion", "editarUsuario", "Usuario", new { id = @Html.DisplayFor(model => model.ID_USU) },
                                                            new { @class = "glyphicon glyphicon-pencil" })) |

    @Html.ActionLink("Lista de Mascotas", "listadoMascotaxUsuario", new { id = @Html.DisplayFor(model => model.ID_USU) },
                                                            new { @class = "glyphicon glyphicon-pencil" }))

</div>
