@model IEnumerable<Veterinaria.Models.HistorialOriginal>

@{
    ViewBag.Title = "listadoHistorialxMascota";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Historiales de tu Mascota</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_MASC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEC_ATT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASUNTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRATAMIENTO)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_MASC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEC_ATT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASUNTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRATAMIENTO)
        </td>
    </tr>
}

</table>
