@model Veterinaria.Models.CitaOriginal

@{
    ViewBag.Title = "editarCita";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Editar Cita</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_CITA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_CITA, new { htmlAttributes = new { @class = "form-control", @readonly ="readonly" } })
                @Html.ValidationMessageFor(model => model.ID_CITA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.FECHA_REG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_REG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FECHA_REG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_USU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_USU, ViewBag.usuario as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_AREA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_AREA, ViewBag.area as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_MASC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_MASC, ViewBag.mascota as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_HORAR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_HORAR, ViewBag.horario as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_HORA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_HORA, ViewBag.hora as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ID_ESTA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_ESTA, ViewBag.estado as SelectList,
                            "Seleccione el Estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.IMPORTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMPORTE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IMPORTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 mt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Volver a la Lista", "listadoCita")
</div>
