@model IEnumerable<Veterinaria.Models.Servicio>

@{
    ViewBag.Title = "listadoServicioPag";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Escoge el Servicio que Deseas: </h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Precio:
            </th>
            <th>
                Descripcion:
            </th>
            <th>
                Horario:
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMB_SERV)
            </td>
            <td>
                S/ @Html.DisplayFor(modelItem => item.PRECIO_SERV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC_SERV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_HORAR)
            </td>
            <td>

                @Html.ActionLink("RESERVAR", "registroServicio", new { id = @item.ID_SERV, H = item.ID_HORAROR, P = item.PRECIO_SERV },
                                   new { @class = "btn btn-primary" })

        </tr>
    }

</table>

<div class="pag">
    <h6>
        @for (int i = 0; i < ViewBag.pag; i++)
        {
            @Html.ActionLink((i + 1).ToString(), "listadoServicioPag", new { p = i }, new { @class = "btn btn-primary" })
        }
    </h6>
</div>

