@model Veterinaria.Models.PedidoSerOriginal

@{
    ViewBag.Title = "registroServicio";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Reserva tu Servicio</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Elige el Horario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID_PEDI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_PEDI, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.codigo, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID_PEDI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_PEDI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA_PEDI, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.fecha, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FECHA_PEDI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_USU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_USU, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Id, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID_USU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_SERV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_SERV, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.serv, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID_SERV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_ESTA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_ESTA, new { htmlAttributes = new { @class = "form-control", @Value = "E004", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID_ESTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_HORAR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_HORAR, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.horar, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ID_HORAR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_HORA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_HORA, ViewBag.hora as SelectList,
                                    "Seleccione la Hora", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IMPORTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMPORTE, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.prec, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IMPORTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
